body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #a1008c;
}

input {
  padding: 10px;
  width: 200px;
  font-size: 16px;
  border-radius: 10px;
  border-color: darkmagenta;
  background-color: rgb(243, 216, 234);
}

button {
  padding: 10px 15px;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #f5d4ee;
  color: rgb(151, 11, 140);
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #ff83ee;
  transition: all 1s;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background-color: #f8e5f7;
  margin: 5px auto;
  padding: 10px;
  border: 10px solid #ecabee;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

li button {
  background-color: #f8c7ec;
  margin-left: 10px;
}

li button:hover {
  background-color: #5f024b;
}

.ant {
  position: absolute;
  font-size: 24px;
  animation: climb 3s linear forwards;
  left: 10px;
}

@keyframes climb {
  0% {
      bottom: 0;
      opacity: 1;
  }
  100% {
      bottom: 100%;
      opacity: 0;
  }
  
}